@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffffff;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* hover::.card-hover {
  background: rgb(76, 157, 174);
  background: linear-gradient(
    145deg,
    rgba(76, 157, 174, 1) 0%,
    rgba(44, 77, 119, 1) 58%
  );
} */
